h1 {
    text-align: center;
    text-transform: capitalize;
}

.imgContainer {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 238, 235) !important;
}

.sprite {
    width: 50%;
}